.close-button {
  background: url(../../images/popup/CloseIcon.svg) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  transform: translateY(calc(-100% - 16px));
  transition: 0.4s;
  box-sizing: border-box;
  box-shadow: none;
  border-style: none;
}

.close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 950px) {
  .close-button {
    transform: translate(calc(100% - -8px), calc(-100% - 8px));
    width: 32px;
    height: 32px;
    background-size: contain;
  }
}