.popup__save-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  min-width: 238px;
  min-height: 46px;
  border-radius: 2px;
  background-color: #000;
  padding: 0;
  margin-top: 9px;
  border-style: none;
  transition: 0.4s;
}

.popup__save-button:not(.popup__save-button_disabled):hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}

@media screen and (min-width: 950px) {
  .popup__save-button {
    font-size: 18px;
    line-height: 22px;
    min-width: 358px;
    min-height: 50px;
    margin: 10px 0 0;
  }
}