.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  padding: 0 19px 0;
  margin: 0;
  gap: 17px 20px;
  box-sizing: border-box;
  list-style-type: none;
}

@media screen and (min-width:950px) {
  .photo-gallery {
    min-width: 880px;
    padding: 0;
  }
}